<%= link_to "Back to #{@campaign.name}", campaign_path(@campaign) %>

<h2
  class="text-xl text-lime-300 font-bold mb-[16px]"
>
  Edit <%= @campaign.name %>
</h2>
<div
  class="flex flex-col space-y-[16px]"
>
  <%= render partial: "form",
    locals: {campaign: @campaign, journals: @journals}
  %>
  <ul
    data-testid="campaign-journals-list"
  >
    <h3
      class= "block text-sm text-indigo-400 font-bold"
    >
      Journals
    </h3>
    <% @campaign.membership_journals.each do |membership_journal| %>
      <% journal = membership_journal.journal %>
      <li
        class="flex"
      >
        <%= link_to journal.name, journal_notes_path(journal) %>
        <%= button_to membership_journal_path(membership_journal), method: :delete,
          data: {
            turbo_confirm: "This will remove the journal from this campaign. Are you sure? This will not destroy the journal.",
            testid: "remove-#{dom_id(journal)}-btn"
          },
          aria: {label: "remove journal"} do
        %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.362 5.214A8.252 8.252 0 0112 21 8.25 8.25 0 016.038 7.048 8.287 8.287 0 009 9.6a8.983 8.983 0 013.361-6.867 8.21 8.21 0 003 2.48z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 18a3.75 3.75 0 00.495-7.467 5.99 5.99 0 00-1.925 3.546 5.974 5.974 0 01-2.133-1A3.75 3.75 0 0012 18z" />
          </svg>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= button_to "Delete", campaign_path(@campaign), method: :delete,
    class: "h-8 w-full px-[8px] text-lg text-stone-300 bg-rose-400 rounded-md hover:bg-rose-500 focus:bg-rose-600 hover:cursor-pointer",
    data: {
      turbo_confirm: "Are you sure? Members will no longer be able to share their journals and notes. This will not destroy journals.",
      testid: "destroy-campaign-btn"
    }
  %>
</div>
