<div
  class="flex justify-between"
>
  <h1
    class="text-xl text-lime-300 font-bold mb-[16px]"
  >
    <%= link_to @campaign.name, @campaign %>
  </h1>
  <%= link_to edit_campaign_path(@campaign),
    data: {testid: "edit-campaign-link"},
    aria: {label: "Edit Journal"} do
  %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
    </svg>
  <% end %>
</div>
<div>
  <%= link_to "Add Journal", new_campaign_membership_journal_path(@campaign),
    params: {membership: @membership},
    data: {testid: "add-journal-link"}
  %>
</div>
<div 
  data-controller="reveal"
>
  <button
    class=""
    data-action="reveal#toggle"
    data-testid="invite-reveal-btn"
  >
    Invite
  </button>
  <div
    hidden
    class=""
    data-reveal-target="revealable"
  >
    <%= render partial: "campaigns/invitations/form",
      locals: {campaign: @campaign, invitation: @invitation}
    %>
  </div>
</div>
<% if @campaign.members.any? { |member| current_user == member } %>
  <%= button_to "Leave", membership_path(@membership), method: :delete,
    data: {testid: "membership-destroy-btn"}
  %>
<% end %>
<div>
  <h2>Members:</h2>
  <ul data-testid="members-list">
    <% @members.each do |member| %>
      <li>
        <%= member.username %>
        <%# link_to member.username, user_path(member) %>
      </li>
    <% end %>
  </ul>
</div>
<ul
  class="px-4 py-2 space-y-2"
  data-testid="journal-notes"
>
  <% @campaign.journals.map(&:notes).flatten.each do |note| %>
    <li>
      <%= render partial: "notes/note", locals: {note: note} %>
    </li>
  <% end %>
</ul>
