<!DOCTYPE html>
<html>
  <head>
    <title>Fae Scribe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="view-transition">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="bg-slate-800 text-indigo-300">
    <header
      class="min-h-80 sticky inset-0 flex w-full items-center 
             justify-between bg-slate-800 px-4 py-2"
    >
      <h1 class="text-2xl font-bold text-orange-300">
        <%= link_to "Fae Scribe", root_path %>
      </h1>
      <div
        class="flex justify-end items-center"
      >
        <% if current_user %>
          <%= link_to notifications_path,
            class: "relative inline-flex" do
          %>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 align-middle"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"
              />
            </svg>
            <div
              class="absolute rounded-full flex items-center justify-center w-4 h-4 text-sm bg-rose-400"
              data-testid="notifications-count"
            >
              <%= current_user.notifications.count %>
            </div>
          <% end %>
        <% end %>
        <nav class="" data-controller="popover">
          <button
            class="inline"
            data-action="popover#popover"
            data-testid="nav-hamburger-btn"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-8 w-8"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
              />
            </svg>
          </button>
          <div
            hidden
            class="fixed inset-0 h-full w-full z-40"
            data-popover-target="togglable"
          >
            <div
              class="fixed h-full w-full z-40 bg-slate-800/30 backdrop-blur-sm"
              data-actioen="click->popover#popover"
              aria-hidden="true"
            >
            </div>
            <div
              class="fixed right-[-80%] h-full w-[80%] z-50
                    flex flex-col justify-between
                    bg-slate-700 p-[24px] rounded-l-2xl"
              data-popover-target="slideable"
            >
              <div
                class="flex-none flex justify-between"
              >
                <h1
                  class="flex-none text-xl font-bold text-orange-300"
                >
                  <%= link_to "Fae Scribe", root_path %>
                </h1>
                <button
                  class="flex-none h-8 w-8"
                  data-action="popover#popover"
                  data-testid="nav-close-btn"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M6 18L18 6M6 6l12 12"
                    />
                  </svg>
                </button>
              </div>
              <ul
                class="flex-auto overflow-auto flex-vertical space-y-[4px] items-stretch text-xl leading-5"
              >
                <li 
                  class="relative px-[16px] py-[8px] rounded-md text-indigo-200"
                >
                  <%= link_to "About", about_path,
                    class: " before:absolute before:inset-0"
                  %>
                </li>
                <% if current_user %>
                  <li 
                    class="relative px-[16px] py-[8px] rounded-md text-indigo-200"
                  >
                    <%= link_to "Journals", journals_path,
                      class: "before:absolute before:inset-0"
                    %>
                  </li>
                  <% if current_user.journals.any? %>
                    <% current_user.journals.each do |journal| %>
                      <li 
                        class="relative px-[16px] py-[8px] rounded-md text-indigo-200"
                      >
                        <%= link_to journal.name, journal_notes_path(journal),
                          class: "before:absolute before:inset-0"
                        %>
                      </li>
                    <% end %>
                  <% end %>
                  <li 
                    class="relative px-[16px] py-[8px] rounded-md text-indigo-200"
                  >
                    <%= link_to "Campaigns", campaigns_path,
                      class: "before:absolute before:inset-0"
                    %>
                  </li>
                  <% if current_user.campaigns.any? %>
                    <% current_user.campaigns.each do |campaign| %>
                      <li 
                        class="relative px-[16px] py-[8px] rounded-md text-indigo-200"
                      >
                        <%= link_to campaign.name, campaign_path(campaign),
                          class: "before:absolute before:inset-0"
                        %>
                      </li>
                    <% end %>
                  <% end %>
                  <li
                    class="relative px-[16px] py-[8px] rounded-md text-indigo-200"
                  >
                    <%= link_to "Invitations", users_invitations_path,
                      class: "before:absolute before:inset-0"
                    %>
                  </li>
                  <li 
                    class="rounded-md"
                  >
                    <%= button_to "Sign out", destroy_user_session_path, 
                      method: :delete, data: {testid: "sign-out-btn"},
                      class: "h-full w-full text-left px-[16px] py-[8px] text-indigo-200"
                    %>
                  </li>
                <% else %>
                  <li 
                    class="relative px-[16px] py-[8px] rounded-md text-indigo-200"
                  >
                    <%= link_to "Sign in", new_user_session_path,
                      class: "before:absolute before:inset-0"
                    %>
                  </li>
                  <li 
                    class="relative px-[16px] py-[8px] rounded-md text-indigo-200"
                  >
                    <%= link_to "Sign up", new_user_registration_path,
                      class: "before:absolute before:inset-0"
                    %>
                  </li>
                <% end %>
              </ul>
              <div
                class="flex-none flex items-center space-x-[8px] relative px-[16px] py-[8px] text-indigo-200 rounded-md text-xl leading-5"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="h-6 w-6"
                  viewBox="0 0 16 16"
                >
                  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                </svg>
                <%= link_to "Github", "https://github.com/mononoken/fae-scribe",
                  class: "before:absolute before:inset-0"
                %>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="flex-col overflow-y-auto">
      <% if flash.any? %>
        <div
          class="px-4 py-2 font-medium text-rose-400 bg-slate-700 mb-[8px]"
          data-testid="flash-msg"
        >
          <% flash.each do |type, message| %>
            <% if message.is_a?(Array) %>
              <ul>
                <% message.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul> 
            <% else %>
              <div><%= message %></div>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <main
        class="px-[16px]"
      >
        <%= yield %>
      </main>
      <footer>
      </footer>
    </div>
  </body>
</html>
